<!DOCTYPE html>
<html>
  <head>
    <title>Vanellope</title>

  </head>

  <body>
    hola
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
